<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>font</title>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style>

@font-face {
  font-family: 'JejuMyeongjo'; 
  src: url(JejuMyeongjo.ttf) format('truetype');
}

@font-face {
  font-family: 'JejuHallasan'; 
  src: url(JejuHallasan.ttf) format('truetype');
}

@font-face {
  font-family: 'JejuGothic'; 
  src: url(JejuGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'BMYEONSUNG'; 
  src: url(BMYEONSUNG.ttf) format('truetype');
}

@font-face {
  font-family: 'BMHANNAPro'; 
  src: url(BMHANNAPro.ttf) format('truetype');
}

@font-face {
  font-family: 'BMHANNA_11yrs'; 
  src: url(BMHANNA_11yrs.ttf) format('truetype');
}



#brandLogo{
  margin-bottom: -25px;
  margin-left:15px;
  font-size: 75px;
  float: left;
  width:100%;
}

#fontAdmin{
  float:left;
}

.fontSpec{
  border:1px solid black;
}

#topDiv{
  width: 100%;
  border-bottom:1px;
}

#topLine{
 border-top: 2px solid !important;
 margin-bottom: 0px;
}

.sMenu{
 float:right;
 margin-right: 15px;
 margin-bottom: 10px;
 font-size: 20px;

}








</style>
</head>
<body>
   
   <div id="topDiv">
   <p id="brandLogo">
   ourie admin
   </p>
  
   <button id="addFont" type="button" style="margin-top:20px;"class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
    add font
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">add font</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="fontName">폰트이름</label>
                  <input type="text" class="form-control" id="fontName" placeholder="폰트이름">
                </div>
                <div class="form-group">
                  <label for="fontPrice">가격</label>
                  <input type="text" class="form-control" id="fontPrice" placeholder="폰트가격">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">폰트파일 선택</label>
                  <input type="file" id="exampleInputFile">
                </div>
              
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
   

   </div>
   
   <hr id="topLine" width = "100%" color = "black">
   <div style=" width:65%; float:left;">
    <!--  <input type="range" class="fontSizeSlider" style="width:500px;" min="5" max="50">
     <input type="range" class="lineHeightSlider" style="width:500px;" orient="vertical" min="1" max="5"> -->
    <!-- <p class="result" id="result">차보라Brian</p> -->
    <!--  <textarea class="result" id="result" cols="50" rows="8" > -->
     <!-- <div id="result" class="result" contenteditable> -->
     
   </div>

 <div id="fontAdmin" style="width: 35%; border-left:2px solid; font-size:18px;">
  
       <div class="fontSpec" font="JejuMyeongjo" style="font-family: JejuMyeongjo; overflow:hidden;">
        <p class="fontName">JejuMyeongjo</p><br>
        <div><p class="price" style="float:left;">$45</p> <button type="button" class="btn btn-primary small" style="margin-left:45px;">수정</button></div>
        <p class="salesRate">1500개 판매</p>
        <img class="showDetail" src="image/minus.png">
       </div> 

       <div class="fontSpec" font="JejuHallasan" style="font-family: JejuHallasan">
        <p class="fontName">JejuHallasan</p>
         <img class="showDetail" src="image/add.png">
       </div>
       
       <div class="fontSpec simple" font="JejuGothic" style="font-family: JejuGothic">
        <p class="fontName">JejuGothic</p>
         <img class="showDetail" src="image/add.png">
       </div>

       <div class="fontSpec simple" font="BMYEONSUNG" style="font-family: BMYEONSUNG">
        <p class="fontName">BMYEONSUNG</p>
         <img class="showDetail" src="image/add.png">
       </div>

       <div class="fontSpec simple" font="BMHANNAPro" style="font-family: BMHANNAPro">
        <p class="fontName">BMHANNAPro</p>
         <img class="showDetail" src="image/add.png">
       </div>

       <div class="fontSpec simple" font="BMHANNA_11yrs" style="font-family: BMHANNA_11yrs">
        <p class="fontName">BMHANNA_11yrs</p>
         <img class="showDetail" src="image/add.png">
       </div>

   
 </div>



  <script>



$(document).ready(function(){
      
});
                      
        </script>
   
  </body>
  </html>
  
  
  
  
		