<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>font</title>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style>

@font-face {
  font-family: 'JejuMyeongjo'; 
  src: url(JejuMyeongjo.ttf) format('truetype');
}

@font-face {
  font-family: 'JejuHallasan'; 
  src: url(JejuHallasan.ttf) format('truetype');
}

@font-face {
  font-family: 'JejuGothic'; 
  src: url(JejuGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'BMYEONSUNG'; 
  src: url(BMYEONSUNG.ttf) format('truetype');
}

@font-face {
  font-family: 'BMHANNAPro'; 
  src: url(BMHANNAPro.ttf) format('truetype');
}

@font-face {
  font-family: 'BMHANNA_11yrs'; 
  src: url(BMHANNA_11yrs.ttf) format('truetype');
}



#brandLogo{
  margin-bottom: -25px;
  margin-left:15px;
  font-size: 75px;
  float: left;
  width:100%;
}

#fontAdmin{
  float:left;
}

.fontSpec{
  border:1px solid black;
}

#topDiv{
  width: 100%;
  border-bottom:1px;
}

#topLine{
 border-top: 2px solid !important;
 margin-bottom: 0px;
}

.sMenu{
 float:right;
 margin-right: 15px;
 margin-bottom: 10px;
 font-size: 20px;

}

table, tr, td{
  border:1px solid black;
  text-align:center;
}

tr, td{
  padding : 5px 5px 5px 5px;
}


</style>
</head>
<body>
   
   <div id="topDiv">
   <p id="brandLogo">
   ourie admin
   </p>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">add font</h4>
         </div>
         <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="fontName">폰트이름</label>
                  <input type="text" class="form-control" id="fontName" placeholder="폰트이름">
                </div>
                <div class="form-group">
                  <label for="fontPrice">가격</label>
                  <input type="text" class="form-control" id="fontPrice" placeholder="폰트가격">
                </div>
                <div class="form-group">
                  <label for="fontUpload">폰트파일 선택</label>
                  <input type="file" id="fontUpload">
                </div>
              
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="uploadSubmit"class="btn btn-primary">upload</button>
        </div>
      </div>
    </div>
   </div>
   
   </div>
   
   <hr id="topLine" width = "100%" color = "black">
   <div style=" width:65%; float:left;">
   </div>

    <button id="addFont" type="button" style="margin-top:20px;"class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
      add font
    </button>
      <table style="border:1px solid black; font-size:22px;">
        <tr>
          <td>no</td>
          <td>font name</td>
          <td>price</td>
          <td>sales rate</td>
        </tr>
        <%for (var i = 0; i < content.length; i++){ %>
           <tr>
            <td> <%=content[i].fontNo%></td>
            <td style="font-family: JejuMyeongjo; overflow:hidden; border:1px solid black;"> 
            <%=content[i].fontName%>
            </td> 
            <td><%=content[i].fontPrice%></td>
            <td><%=content[i].fontSalesRate%></td>
           </tr>
        <%}%>
      </table>
      
  <script>



$(document).ready(function(){

  let uploadSize = 10;

 $("#uploadSubmit").on("click",function(){
            console.log("upload");
            var files = document.getElementById('fontUpload').files;
            var file = files[0];
            var fileName = file.name;
            var fileNameArr = fileName.split("\.");
            var ext = fileNameArr[fileNameArr.length - 1]; // 확장자
            var fileSize = file.size / 1024 / 1024; // 파일 사이즈(단위 :MB)
            var contentType = "";

            if($.inArray(ext, ['ttf', 'eot', 'woff', 'otf']) < 0){
                    // 확장자 체크
                    alert("폰트 파일형식만 지원합니다.");
                    return;
              }else if(fileSize > uploadSize){
                    // 파일 사이즈 체크
                    alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                    return;
              }
            if(files != null){
                if(files.length < 1){
                    alert("폴더 업로드 불가");
                    return;
                }
                let formData = new FormData();
                formData.append("fontUpload", file);
                formData.append("uploadType", "fontUpload")
                formData.append("fontName",$("#fontName").val());
                formData.append("fontPrice",$("#fontPrice").val());
                $.ajax({
                url:"http://localhost:3000/fontUpload",
                data:formData,
                type:'POST',
                enctype:'multipart/form-data',
                processData:false,
                contentType:false,
                dataType:'json',
                cache:false,
                success:function(result){
                    console.log("result : " , result);
                    location.href='http://localhost:3000/admin';
                }
              });
            }
    });
  });
                      
        </script>
   
  </body>
  </html>
  
  
  
  
		