<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>font</title>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style>

@font-face {
  font-family: 'JejuMyeongjo'; 
  src: url(JejuMyeongjo.ttf) format('truetype');
}

@font-face {
  font-family: 'JejuHallasan'; 
  src: url(JejuHallasan.ttf) format('truetype');
}

@font-face {
  font-family: 'JejuGothic'; 
  src: url(JejuGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'BMYEONSUNG'; 
  src: url(BMYEONSUNG.ttf) format('truetype');
}

@font-face {
  font-family: 'BMHANNAPro'; 
  src: url(BMHANNAPro.ttf) format('truetype');
}

@font-face {
  font-family: 'BMHANNA_11yrs'; 
  src: url(BMHANNA_11yrs.ttf) format('truetype');
}



#brandLogo{
  margin-bottom: -25px;
  margin-left:15px;
  font-size: 75px;
  float: left;
  width:100%;
}

#result {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    width: 100%;
    height: 500px;
    overflow: auto;
    padding: 2px;
    /* resize: both; */
}

#topDiv{
  width: 100%;
  border-bottom:1px;
}

#topLine{
 border-top: 2px solid !important;
 margin-bottom: 0px;
}

.sMenu{
 float:right;
 margin-right: 15px;
 margin-bottom: 10px;
 font-size: 20px;
 cursor: pointer;
}

.fontSpec{
  cursor: pointer;
}

input[type='range'] {
  
  width: 70px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid black; */
  margin-left:-16px;

   -webkit-transform:rotate(90deg); 
     -moz-transform:rotate(90deg); 
     -o-transform:rotate(90deg); 
     -ms-transform:rotate(90deg); 
     transform:rotate(90deg); 
}


input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 2px;
  background: #AAA;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 12px;
  width: 12px;
  margin-top: -5px;
  background: black;
  border-radius: 50%;
 
}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: #777;
}


.tArea{
  margin-left: 45px; 
  margin-top: -125px; 
  resize: none; 
  overflow: auto;
  /*border:0;*/
  padding-left:5px;
  width:200px;
  height:100px;
  font-size:30px;
}

.simple{
  height:65px; 
  border-bottom: 2px solid;
}

.simple > p  {
  float:left;
  font-size: 25px; 
  font-weight:bold;
  margin-left:25px;
  margin-top:14px;
} 

.simple > img {
  float:right;
  margin-right:25px;
  margin-top:22px;
}

.detail{
  border-bottom: 2px solid;
}

.detail > p  {
  margin-left:25px; 
  margin-top:10px;
} 

.fontName {
  font-size: 25px;
  text-decoration: underline; 
  font-weight:bold;
}

.large {
  font-size: 25px; 
  font-weight:bold;
}

.detail > img {
  float: right; 
  margin-top:-35px; 
  margin-right:25px;
}

.fontPrice{
  width:80px; 
  float:right; 
  margin-right:-135px; 
  margin-top:7px !important;
  font-size:18px;
}

.drggableImage {
  width:120px;
}

.adjustTable{
  margin-top:5px;
  margin-left:-2px;
  border : 1px solid;
  width:40px;
}

.triangle{
  width : 0;
  height : 0;
  border-top : 10px solid transparent;
  border-right : 10px solid #111111;
  border-bottom : 10px solid transparent;
  border-left : 10px solid transparent;
  transform: rotate(225deg);
  margin-left:28px;
  margin-top:-5px;
  margin-bottom: -10px;
  cursor: pointer;
}

.statement{
 margin-top: -25px !important;
 position:fixed;
 cursor: pointer;
}

.fontContent > .small{
  font-size:20px;
}

.fontStyle{
  float:right; 
  margin-right:-90px; 
  width:25px; 
  height:25px; 
  border:1px solid black;
  text-align:center;
  font-size:19px;
}

</style>
</head>
<body>
   
   <div id="topDiv">
   <p id="brandLogo">
   ourie
   </p>
   
  <% if(mail){ %>
    <div class="sMenu" id="logout" onclick="location.href='http://localhost:3000/logout'">logout</div>
  <% }else{ %>
      <div class="sMenu" id="login" data-toggle="modal" data-target="#loginForm">login</div>
  <% }%>
   <div class="sMenu">cart</div>
   <div class="sMenu">ask</div>
   <div class="sMenu">about</div>
   <div class="sMenu">style</div>
   <% if(mail){ %>
    <div class="sMenu" id="my">my</div>
    <% }%>
   <div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
            <form method="POST" id="loginData">
                <div class="form-group">
                  <label for="mail">mail</label>
                  <input type="text" class="form-control" name="mail" id="mail" placeholder="mail">
                </div>
                <div class="form-group">
                  <label for="pw">password</label>
                  <input type="password" class="form-control" name="pw" id="pw" placeholder="password">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="signUp">Sign up for free</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="loginSubmit">Login</button>
        </div>
     
      </div>
    </div>
  </div>


  <div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">my information</h4>
        </div>
        <div class="modal-body">
          <% if(mail){ %>
           <div> mail : <%=mail%> </div><br>
           <div> password : <%=pw%>  </div>
            <% }%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="myInfoAdjust">adjust</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signUpForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign up</h4>
          </div>
          <div class="modal-body">
              <form method="POST" id="loginData">
                  <div class="form-group">
                    <label for="mail_signUp">mail</label>
                    <input type="text" class="form-control" name="mail_signUp" id="mail_signUp" placeholder="mail">
                  </div>
                  <div class="form-group">
                    <label for="pw_signUp">password</label>
                    <input type="password" class="form-control" name="pw_signUp" id="pw_signUp" placeholder="password">
                  </div>
                  <div class="form-group">
                      <label for="pw_signUp_confirm">password check</label>
                      <input type="password" class="form-control" name="pw_signUp_confirm" id="pw_signUp_confirm" placeholder="password check">
                  </div>
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="signUp">Sign up</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       
        </div>
      </div>
    </div>




   </div>
   
   <hr id="topLine" width = "100%" color = "black">
   <div style=" width:65%; float:left;">
 
     <!-- <div id="result" class="result" contenteditable> -->
      <div id="result" class="result">
       <div class="adjustTable" style="margin-top:-2px;">
        <p style="font-size:24px; margin-left:11px">A</p><br>
        <input type="range" name="fSize" class="fontSizeSlider"  min="5" max="100" style="margin-top:-5px; "><br>
        <p style="font-size:18px; margin-top:9px; margin-left:13px; margin-bottom: -15px;">A</p><br>
       </div>
       <div class="adjustTable" style="margin-top:-1px;">
       <img src="image/vertical-double-arrow.png" style="width:25px; margin-top:5px; margin-left:7px;"><br>
        <input type="range" class="lineHeightSlider"  min="1" max="5" style="margin-top:30px; margin-bottom: 30px;">
       </div>
       <div class="adjustTable" style="margin-top:-1px;">
        <img src="image/vertical-double-arrow.png" style="width:25px; margin-top:2px; margin-left:7px; transform: rotate(90deg);"><br>
         <input type="range" class="letterSpacingSlider"  min="1" max="25" style="margin-top:20px; margin-bottom: 30px;">
       </div>
       <div class="adjustTable" style="margin-top:-1px;">
        <hr style="margin-left:9px; margin-top:8px; margin-bottom: 0px; width:40%; border-top:1px solid black;">
        <hr style="margin-left:9px; margin-top:4.3px; margin-bottom: 0px; width:50%; border-top:1px solid black;">
        <hr style="margin-left:9px; margin-top:4.6px; margin-bottom: 0px; width:40%; border-top:1px solid black;">
        <hr style="margin-left:9px; margin-top:4.9px; margin-bottom: 0px; width:50%; border-top:1px solid black;">
        <hr style="margin-left:9px; margin-top:5.2px; margin-bottom: 8px; width:40%; border-top:1px solid black;">
        <div class="triangle"></div>
       </div>   
       <div class="adjustTable remove" style="margin-top:-1px; text-align: center;">
        <img src="image/trash.png" style="width:35px; padding-top:5px; padding-bottom: 5px;">
       </div>
       <textarea class="tArea" cols="30" rows="4" style="margin-top:-400px; margin-left:75px;">drag your fonts</textarea>
     </div>
   </div>

 <div id="rightDiv" style="width: 35%; float:right; border-left:2px solid;">
  
       <div class="fontSpec simple" font="JejuMyeongjo" style="font-family: JejuMyeongjo">
        <p class="fontName">JejuMyeongjo</p>
        <img class="showDetail" src="image/add.png">
       </div> 

       <div class="fontSpec simple" font="JejuHallasan" style="font-family: JejuHallasan">
        <p class="fontName">JejuHallasan</p>
         <img class="showDetail" src="image/add.png">
       </div>
       
       <div class="fontSpec simple" font="JejuGothic" style="font-family: JejuGothic">
        <p class="fontName">JejuGothic</p>
         <img class="showDetail" src="image/add.png">
       </div>

       <div class="fontSpec simple" font="BMYEONSUNG" style="font-family: BMYEONSUNG">
        <p class="fontName">BMYEONSUNG</p>
         <img class="showDetail" src="image/add.png">
       </div>

       <div class="fontSpec simple" font="BMHANNAPro" style="font-family: BMHANNAPro">
        <p class="fontName">BMHANNAPro</p>
         <img class="showDetail" src="image/add.png">
       </div>

       <div class="fontSpec simple" font="BMHANNA_11yrs" style="font-family: BMHANNA_11yrs">
        <p class="fontName">BMHANNA_11yrs</p>
         <img class="showDetail" src="image/add.png">
       </div>

   
 </div>



  <script>

    /*$('.tArea').on('mousedown', function (e) {


    $(this).addClass('active').parents().on('mousemove', function (e) {
        $('.active').offset({
            top: e.pageY - $('.active').outerHeight() / 2,
            left: e.pageX - $('.active').outerWidth() / 2
        }).on('mouseup', function () {
            $(this).removeClass('active');
        });
    });
    //return false;    
});*/

     

$(document).ready(function(){

  $("#signUp").on("click",function(){
    $("#loginForm").modal("hide");
    $("#signUpForm").modal("show");
    
  });



  $("#loginSubmit").on("click",function(){
  
  $.ajax({
          url:"http://localhost:3000/login",
          data: {'mail': $("#mail").val(),
                  'pw' : $("#pw").val()},
          type:'POST',
          dataType:'json',
          cache:false,
          success:function(result){
              console.log(result);
              if(result["isSuccess"] == "false"){
                alert("틀린 비밀번호");
              }else{
                console.log("correct pw");
                location.href='http://localhost:3000/';
              }
          }
  })
}); 

$("#my").on("click",function(){
  
  $.ajax({
          url:"http://localhost:3000/my",
          data: '',
          type:'POST',
          dataType:'json',
          success:function(result){

            console.log(result["mail"]);
            $('#myInfo').modal('show')  
          }
  })
}); 

      
  let sortToggle = "off";

  $(document).on("click", ".triangle", function() {
     
    let sort;
    if(sortToggle == "off"){
        sort  = '<div id="sort" style="margin-top:-16px; position:absolute;">';
        sort += '<div id="leftSort" class="adjustTable statement" style="margin-left:40px;">';
        sort += '<hr style="margin-left:3px; margin-top:8px; margin-bottom: 0px; width:50%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:3px; margin-top:4.3px; margin-bottom: 0px; width:40%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:3px; margin-top:4.6px; margin-bottom: 0px; width:50%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:3px; margin-top:4.9px; margin-bottom: 0px; width:40%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:3px; margin-top:5.2px; margin-bottom: 8px; width:50%; border-top:1px solid black;">';
        sort += '</div>';
        sort += '<div id="centerSort" class="adjustTable statement" style="margin-left:79px;">';
        sort += '<hr style="margin-left:9px; margin-top:8px; margin-bottom: 0px; width:50%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:10px; margin-top:4.3px; margin-bottom: 0px; width:40%; border-top:1px solid black;">';  
        sort += '<hr style="margin-left:9px; margin-top:4.6px; margin-bottom: 0px; width:50%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:10px; margin-top:4.9px; margin-bottom: 0px; width:40%; border-top:1px solid black;">';
        sort += '<hr style="margin-left:9px; margin-top:5.2px; margin-bottom: 8px; width:50%; border-top:1px solid black;">';  
        sort += '</div>';
        sort += '<div id="rightSort" class="adjustTable statement" style="margin-left:118px;">';
        sort += '<hr style="margin-right:5px; margin-top:8px; margin-bottom: 0px; width:50%; border-top:1px solid black;">';
        sort += '<hr style="margin-right:5px; margin-top:4.3px; margin-bottom: 0px; width:40%; border-top:1px solid black;">';
        sort += '<hr style="margin-right:5px; margin-top:4.6px; margin-bottom: 0px; width:50%; border-top:1px solid black;">';
        sort += '<hr style="margin-right:5px; margin-top:4.9px; margin-bottom: 0px; width:40%; border-top:1px solid black;">';
        sort += '<hr style="margin-right:5px; margin-top:5.2px; margin-bottom: 8px; width:50%; border-top:1px solid black;">';
        sort += '</div></div>';     
        $(this).parent().append(sort);
        sortToggle = "on"
      }else if(sortToggle=="on"){
       $("#sort").remove();
       sortToggle="off";
    }
  });
  ///////////////문단정렬//////////////////////////
  $(document).on("click","#leftSort",function(){
    $(".modify").css("text-align","left" ); 
  });

  $(document).on("click","#centerSort",function(){
    $(".modify").css("text-align","center" ); 
  });

  $(document).on("click","#rightSort",function(){
    $(".modify").css("text-align","right" ); 
  });
  ///////////////문단정렬//////////////////////////


  $(document).on("mouseenter", ".tArea", function() {
    $(this).css("border",1);
    $(this).css("border-style","dashed");
    $(this).draggable({cancel: 'text'});
  });
  $(document).on("mouseleave", ".tArea", function() {
    $(this).css("border",0);
  });
  $(document).on("toggle", ".tArea", function() {
    $(this).css("border",0);
  });
  $(document).on("click", ".tArea", function() {
    $(".modify").removeClass("modify");
    $(this).addClass("modify");
  });
  $(document).on("click", ".remove", function() {
    $(".modify").remove();
  });


/* $(document).on('keydown keyup mousedown mouseup','.tArea', function () {
  $(this).height(1).height( $(this).prop('scrollHeight')+1 );	
});

$(document).on('change','.tArea',function(){
  //$(this).height(3).height( $(this).prop('scrollHeight')+2 );	
  //$(this).css("height","55px");
  console.log("test");
});
 */

 $(document).on("click",".showDetail",function(){

     let fontSpec = $(this).parents(".fontSpec");

     let detail =  '<img src="image/icon_buy.png" style="width:90px; margin-top:-25px;">';
         detail += '<p class="fontPrice" font-family:'+$(this).parents(".fontSpec").attr("font")+'">$45</p>';
         detail += '<p class="fontStyle normal" style="margin-top:35px;">A</p>'
         detail += '<p class="fontStyle italic" style="margin-top:59px; font-style:italic;">A</p>'
         detail += '<p class="fontStyle bold" style="margin-top:83px; font-weight:900;">A</p>'
         detail += '<div class="fontContent" style="margin-left:25px;">'; 
         detail += '<p class="fontName" style="margin-top:35px;">'+ $(this).parents(".fontSpec").attr("font")+'</p>';
         detail += '<p class="small">abcdefghijklmnopqrstuvwxyz<br>';
         detail += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>';
         detail += '0123456789!@#$%^&*()-_=+</p>';
         detail += '<p class="large">The quick brown fox jumps <br> over the lazy dog.</p>';
         detail += '</div>'
         detail += '<img class="showSimple" src="image/minus.png">';

       fontSpec.empty();
       fontSpec.removeClass("simple");
       fontSpec.addClass("detail");
       fontSpec.append(detail);
    });
    
    let italicToggle = "on";
    $(document).on("click",".italic",function(){
     if(italicToggle == "on"){
      $(this).parent().children(".fontContent").css("font-style","italic");  
      italicToggle = "off";  
     }else if(italicToggle == "off"){
      $(this).parent().children(".fontContent").css("font-style","normal"); 
      italicToggle = "on"; 
     }     
    });

    $(document).on("click",".normal",function(){
      $(this).parent().children(".fontContent").css("font-style","normal");
      $(this).parent().children(".fontContent").css("font-weight","normal");
    });
    
    let boldToggle = "on"
    $(document).on("click",".bold",function(){
      if(boldToggle == "on"){
      $(this).parent().children(".fontContent").css("font-weight","bold");
      boldToggle = "off";
      }else if(boldToggle == "off"){
      $(this).parent().children(".fontContent").css("font-weight","normal");
      boldToggle = "on"; 
      }
    });

    $(document).on("click",".showSimple",function(){
    
     let fontSpec = $(this).parents(".fontSpec");

     let simple  = '<p class="fontName">'+ $(this).parents(".fontSpec").attr("font")+'</p>';
         simple += '<img class="showDetail" src="image/add.png">';

       fontSpec.empty();
       fontSpec.removeClass("detail");
       fontSpec.addClass("simple");
       fontSpec.append(simple);

    })


    //$('.tArea').draggable({cancel: 'text'});
    let changedFont;
    let addTag = false;

    $(".fontSpec").draggable({
        helper: "clone",
        cursor: 'pointer',
        start: function( event, ui ) {
          changedFont = $(this).attr("font");
          addTag = true;
        }
    });

    var no = 1;

    $("#result").droppable({
       
      drop: function( event, ui ) {
       
        let newArea = '<textarea class="tArea" id="'+no+'" cols="30" rows="4" style="position:absolute;">'+changedFont+'</textarea>';
        let z_idx = 10;
        $('.tArea').draggable({
          cancel: 'text',
          cursor: 'pointer'
        }).mousedown(function(){
            $(this).css('z-index', z_idx); // 클릭한 textarea 제일 위로 올라오게끔.
            z_idx++;
         });


        if(addTag == true){
        $(this).append(newArea)
        $('#'+no).offset({ top: event.pageY, left: event.pageX-60});
        $("style").append( "@font-face {\n" +
                                "\tfont-family: \""+changedFont+"\";\n" + 
                                "\tsrc:url('"+changedFont+".ttf') format('truetype');\n" + 
                            "}\n" );
         $('#'+no).css({"font-family": changedFont});
        }
        addTag = false;
        no++;
      }
    });

    
    ////폰트 사이즈 , 줄간격 , 자간 조절////////////
      let result = $(".result");
      let tArea =  $(".tArea");
      let fontSizeSlider = $(".fontSizeSlider");
      let lineHeightSlider = $(".lineHeightSlider");
      let letterSpacingSlider = $(".letterSpacingSlider");

      fontSizeSlider.on('input', function() {
        $(".modify").css("font-size",$(this).val() ); 
       
      });
      lineHeightSlider.on('input', function() {
        $(".modify").css("line-height",$(this).val());
      });
      letterSpacingSlider.on('input', function() {
        $(".modify").css("letter-spacing",$(this).val());
      });
    ////폰트 사이즈 , 줄간격 , 자간 조절////////////

      });


    // 등록 가능한 파일 사이즈 MB
    var uploadSize = 10;
 
    $(function (){
        // 파일 드롭 다운
        fileDropDown();
    });
 
    // 파일 드롭 다운
    function fileDropDown(){
        var dropZone = $("#result");
        //Drag기능 
      /*  dropZone.on('dragenter',function(e){
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#E3F2FC');
        });
        dropZone.on('dragleave',function(e){
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#FFFFFF');
        });
        dropZone.on('dragover',function(e){
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#E3F2FC');
        });*/
        dropZone.on('drop',function(e){
            e.preventDefault();     
            console.log(e.originalEvent.type);  
            if(e.originalEvent.type == "drop"){
            renderNewFont(e);
            }
        });
    }
           var addNo = 1;

    function renderNewFont(e){
            
            var files = e.originalEvent.dataTransfer.files;
            var file = files[0];
            var fileName = file.name;
            var fileNameArr = fileName.split("\.");
            var ext = fileNameArr[fileNameArr.length - 1]; // 확장자
            var fileSize = file.size / 1024 / 1024; // 파일 사이즈(단위 :MB)
            var contentType = "";

            if($.inArray(ext, ['ttf', 'eot', 'woff', 'otf', 'png', 'jpg','gif','bmp' ]) < 0){
                    // 확장자 체크
                    alert("폰트 또는 이미지 파일형식만 지원합니다.");
                    return;

              }else if(fileSize > uploadSize){
                    // 파일 사이즈 체크
                    alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                    return;

              }else if($.inArray(ext, ['ttf', 'eot', 'woff', 'otf']) >= 0 ){
                contentType = "font";
              
              }else if($.inArray(ext, ['png', 'jpg', 'gif', 'bmp']) >= 0 ){
                contentType = "image";
              } 


            if(files != null){
                if(files.length < 1){
                    alert("폴더 업로드 불가");
                    return;
                }
             
                let formData = new FormData();
                formData.append("fontUpload", file);
                formData.append("cType","testString");
                console.log("contetn type : " + contentType);
                $.ajax({
                url:"http://localhost:3000/fontUpload",
                data:formData,
                type:'POST',
                enctype:'multipart/form-data',
                processData:false,
                contentType:false,
                dataType:'json',
                cache:false,
                success:function(result){

                      let z_idx = 10;
                      if(contentType == "font"){
                        let randomFontName = generateFontName();
                    
                          $("style").append( "@font-face {\n" +
                                        "\tfont-family: \""+randomFontName+"\";\n" + 
                                        "\tsrc:url('"+result["originalName"]+"') format('truetype'),\n" +
                                        "\turl('"+result["originalName"]+"') format('opentype');\n" +    
                                    "}\n" );

                                    
                                    let newTextArea = '<textarea class="tArea" id="'+addNo+'" cols="30" rows="4">'+result["originalName"].split("\.")[0]+'</textarea>';
                                    $('.result').append(newTextArea);
                                    $('#'+addNo).css({"font-family": randomFontName});                   
                                    $('#'+addNo).offset({ top: e.pageY, left: e.pageX-60});

                                    $('.tArea').draggable({
                                      cancel: 'text',
                                      cursor: 'pointer'
                                    }).mousedown(function(){
                                      $(this).css('z-index', z_idx); // 클릭한 이미지만 제일 위로 올라오게끔.
                                      z_idx++;
                                    });
                                  }
                      if(contentType == "image"){
                        
                        newImageArea = "<img class='drggableImage' id='"+addNo+"'src='"+result["originalName"]+"'>";
                        $('.result').append(newImageArea);
                        $('#'+addNo).offset({ top: e.pageY, left: e.pageX-60});
              
                        $('.drggableImage').draggable({
                          cancel: 'text',
                          cursor: 'pointer'
                        }).mousedown(function(){
                          $(this).css('z-index', z_idx); // 클릭한 이미지만 제일 위로 올라오게끔.
                          z_idx++;
                        });
                      }
                      addNo++
                    }
                  });
                }else{
                  alert("ERROR");
                }
              }
                      
          function generateFontName(){
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            
            for( var i=0; i < 5; i++ )
            text += possible.charAt(Math.floor(Math.random() * possible.length));
            
            return text;
          }
                      
        </script>
   
  </body>
  </html>
  
  
  
  
		